@import "variables.scss";
@import "mixings.scss";
@import "config.scss";

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.section-main {
    width: 70%;
    display: grid;
    justify-content: center;
    grid-template-columns: 40% 60%;
    grid-template-rows: calc($heightRows - 50px) repeat(3, $heightRows);
    grid-template-areas: "logo  hero"
                         "form  hero"
                         "form  hero"
                         "form  hero";

    .img-logo {
        grid-area: logo;
        padding: $paddingLogo 0 $paddingLogo calc($paddingLogo + 10px);
    }

    .img-heroe {
        grid-area: hero;
        background: url('/images/hero-desktop.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top right;
    }

    .base-form {
        padding: $paddingForm calc($paddingForm / 2);
        padding: 0 calc($paddingForm / 2);
        grid-area: form;
        display: flex;
        flex-direction: column;
        align-items: left;

        .title-base {
            text-align: left;
            font-size: 4rem;
            color: $color-Desaturated-Red;
            opacity: 0.8;
            letter-spacing: 5px;
            // text-align: center;
            @include margin-element ($marginElement, $marginElement);
            span {
                color: black;
            }
        }

        .paragraph-form {
            text-align: left;
            color: $color-Desaturated-Red;
            // text-align: center;
            font-weight: 600;
            @include margin-element ($marginElement, $marginElement);
            padding-right: $marginElement;
            line-height: 2;
        }

        .form-base {
            @include margin-element ($marginElement, $marginElement);
            position: relative;

            .input-form {
                @include margin-element ($marginElement, 0);
                width: 100%;
                height: $heightInput;
                padding: $paddingInput $paddingInput;
                border: 1px solid $color-Desaturated-Red;
                border-radius: $borderRadiusInput;
                font-size: calc($fontSize + 3px);
                font-weight: 600;

                &:focus {
                    outline: none;
                    // border: 1px solid $color-Desaturated-Red;
                }

                &::placeholder {
                    color: $color-Desaturated-Red;
                    font-weight: bold;
                }

            }

            .boton-form {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $color-Desaturated-Red;
                padding: $paddingInput $paddingInput;
                width: calc($heightInput * 1.5);
                height: $heightInput;
                position: absolute;
                top: $marginElement;
                right: -20px;
                border-radius: $borderRadiusInput;
                border: none;
                cursor: pointer;

                &:hover {
                    background: $linearGradient2;
                }
            }

            .image-error {
                display: flex;
                align-items: center;
                // justify-content: center;
                // background: $color-Desaturated-Red;
                // padding: $paddingInput $paddingInput;
                // width: calc($heightInput * 1.5);
                height: $heightInput;
                position: absolute;
                top: $marginElement;
                right: calc($heightInput + 15px);
                border-radius: $borderRadiusInput;
            }

            .error-message {
                color: $color-Soft-Red;
                font-weight: bold;
                margin-top: -10px;
                margin-left: $marginElement;
            }
        }
    }

    @media screen and (min-width: $width-Desktop) and (max-width: $width-LargDesktop) {
        /* Estilos CSS para pantallas medianas */
        width: 80%;
    }

    @media screen and (min-width: $width-Tablet) and (max-width: $width-Desktop) {
        /* Estilos CSS para pantallas medianas */
        width: 90%;
    }

    @media screen and (min-width: $width-Mobile) and (max-width: $width-Tablet) {
        /* Estilos CSS para pantallas medianas */
        width: 100%;
        grid-template-columns: 60% 40%;

        .img-heroe {
            background-size: cover;
        }

        
    }

    @media screen and (max-width: $width-Mobile) {
        /* Estilos CSS para pantallas medianas */
        width: 100%;       
        display: flex;
        flex-direction: column;
        // $marginElement: 10px;


        .img-heroe {
            width: 100%;
            min-height: 250px;
            background: url('/images/hero-mobile.jpg');
            background-size: contain;
            background-repeat: no-repeat;
        }

        .base-form {
            .title-base, .paragraph-form {
                text-align: center;
            }

            .title-base {
                font-size: 3rem;
            }
    
            .paragraph-form {
                font-size: calc($fontSize * 0.8);
            }
        }
        
    }

    
}